.hide {
    display: none;
}

.reveal-aside {
	display: inline;
}

.aside {
    position: relative;
	font-family: serif;
	left: 74vw;
}

.dropdown {
	margin-bottom: 1em;
	margin: .3em .3em .3em .3em;
}

.dropdown, .weapon-dropdown {
	background: white;
	padding: 0.2vw;
	border-radius: 0.05vw;
	display: inline-grid;
	width: 9.8vw;
}

.dropdown .menu {
	max-height: 20em;
	overflow: hidden;
}

.dropdown .menu .option {
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
	border-top: 1px solid gray;
	font-size: 1.07vw;
}

.dropdown .menu .weapon {
	margin: .3em .3em .3em .3em;
	margin-top: 0.3em;
	border-top: 1px solid gray;
	font-size: 1.07vw;
}

.dropdown .menu .option:hover {
	background: rgba(0,0,0,0.2);
	cursor: pointer;
}

.dropdown .menu .weapon:hover {
	background: rgba(0,0,0,0.2);
	cursor: pointer;
}

#drop-btn, #weapon-drop-btn {
	font-weight: bold;
	font-size: 1.07vw;
}

#mute {
	border: none;
  	border-radius: 0.19vw;
  	background: rgba(0, 0, 0, 0.8);
  	color: white;
  	font-weight: 600;
  	padding-top: 0.7vh;
	padding-bottom: 0.7vh;
	outline: none;
	position: absolute;
	left: 21vw;
	min-width: 4.8vw;
	font-size: 1vw;
}

#restart {
	border: none;
  	border-radius: 0.19vw;
  	background: rgba(0, 0, 0, 0.8);
  	color: white;
  	font-weight: 600;
  	padding-top: 0.7vh;
	padding-bottom: 0.7vh;
	outline: none;
	position: absolute;
	left: 21vw;
	top: 16vh;
	min-width: 4.8vw;
	font-size: 1vw;
}

#mute:hover {
	cursor: pointer;
}

#restart:hover {
	cursor: pointer;
}