footer {
    position: absolute;
    top: 1%;
    right: 5px;
    /* max-width: 6%; */
}

footer a {
    font-size: 20px;
    color: white;
    padding-right: 30%;
}

.angel {
    padding-right: 0;
}

footer a:last-child {
    display: block;
    padding-top: 3%;
    padding-right: 0;
}