html {
  background: maroon;
}

#startScreen {
  border: 2px solid black;
  position: absolute;
  background: white;
  width: 600px;
  height: 500px;
  text-align: center;
  font-family: fantasy;
}

#play {
  position: absolute;
  left: 250px;
  top: 230px;
  border: none;
  border-radius: 3px;
  background: black;
  color: white;
  font-weight: 600;
  font-size: 18px;
  padding-top: 5px;
  padding-bottom: 5px;
  outline: none;
}

#play:hover {
  cursor: pointer;
}

.winner, .loser {
  background: rgba(0, 0, 0, 0.8);
  width: 600px;
  height: 500px;
  margin: 0;
  position: absolute;
}

.winner-text h1, .loser-text h1 {
  color: white;
}

.winner-text, .loser-text {
  margin-left: 20px;
  text-align: center;
  font-family: sans-serif;
}

.credits ul {
  list-style: none;
  padding: 0;
}

.credits h2 {
  color: gray;
}

.credits p {
  color: gray;
}

.credits a {
  color: rgb(100, 0, 0);
  text-decoration: none;
}

.title {
  font-size: 22px;
}

.start-game {
  font-weight: 600;
  color: maroon;
}

.instructions h2 {
  font-size: 16px;
}

.objective, .controls, .hints {
  font-size: 14px;
}

.play-container {
  width: 600px;
  height: 500px;
  position: absolute;
  background: black;
}